/********
  Fonts
********/

body {
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.card-title {
  font-family: 'Raleway', sans-serif;
}

/********
  Cards
********/

.card {
  border: solid 1px lightgray;
  border-radius: 20px;
  box-shadow: none;
  overflow: hidden;
}

.card-action {
  display: flex;
  justify-content: space-between;
}

.card-action a.btn:hover,
.card-action a.btn-large:hover {
  box-shadow: none;
  cursor: default;
}

/**********
  Buttons
**********/

.btn,
.btn-large {
  border-radius: 20px;
  box-shadow: none;
}

.btn.white,
.btn-large.white {
  border: solid 1px lightgray;
}

/****************************************************
  Change default checkbox color from MaterializeCSS
****************************************************/

[type="checkbox"]:checked + span:not(.lever):before {
  border-right: 2px solid #F44336;
  border-bottom: 2px solid #F44336;
}

[type="checkbox"]:indeterminate + span:not(.lever):before {
  border-right: 2px solid #F44336;
}

[type="checkbox"].filled-in:checked + span:not(.lever):after {
  border: 2px solid #F44336;
  background-color: #F44336;
}
