/********
  Fonts
********/

body {
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.card-title {
  font-family: 'Raleway', sans-serif;
}

/********
  Cards
********/

.card {
  border: solid 1px lightgray;
  border-radius: 20px;
  box-shadow: none;
  overflow: hidden;
}

.card-action {
  display: flex;
  justify-content: space-between;
}

.card-action a.btn:hover,
.card-action a.btn-large:hover {
  box-shadow: none;
  cursor: default;
}

/**********
  Buttons
**********/

.btn {
  border-radius: 100px;
  box-shadow: none;
}

.btn-large {
  border-radius: 10px;
}

.btn.white,
.btn-large.white {
  border: solid 1px lightgray;
}

/***************
  Song Buttons
***************/

.song-btns {
  display: flex;
  justify-content: space-between;
}

.song-btns a.btn-floating.btn-large {
  border-radius: 100px;
}

/****************************************************
  Change default checkbox color from MaterializeCSS
****************************************************/

[type="checkbox"]:checked + span:not(.lever):before {
  border-right: 2px solid #F44336;
  border-bottom: 2px solid #F44336;
}

[type="checkbox"]:indeterminate + span:not(.lever):before {
  border-right: 2px solid #F44336;
}

[type="checkbox"].filled-in:checked + span:not(.lever):after {
  border: 2px solid #F44336;
  background-color: #F44336;
}

/************
  Card Flip
************/

.col.l4 {
  width: 200px;
  height: 260px;
  border: 1px solid #CCC;
  margin: 40px 0;
  perspective: 600px;
}

.card {
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 260px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  backface-visibility: hidden;
}

.card__face--front {
  background: red;
}

.card__face--back {
  background: blue;
  transform: rotateY(180deg);
}
