/********
  Fonts
********/

body {
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.card-title {
  font-family: 'Raleway', sans-serif;
}

/********
  Cards
********/

.card {
  border: solid 1px lightgray;
  border-radius: 20px;
  box-shadow: none;
  overflow: hidden;
}

.card-action {
  display: flex;
  justify-content: space-between;
}

.card-action a.btn {
  width: 45%;
}

/************
  Card Flip
************/

.col.l4 {
  perspective: 600px;
}

.card-container {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card-container.is-flipped {
  transform: rotateY(180deg);
}

.card__face--front,
.card__face--back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card__face--front {
  z-index: 2;
}

.card__face--back {
  transform: rotateY(180deg);
  z-index: 1;
}

.card.clickable {
  cursor: pointer;
}

/**********
  Buttons
**********/

.btn {
  border-radius: 100px;
  box-shadow: none;
}

.btn-large {
  border-radius: 10px;
}

.btn.white,
.btn-large.white {
  border: solid 1px lightgray;
}

.apple-music-btn {
  width: 100% !important;
}

/***************
  Song Buttons
***************/

.song-btns {
  display: flex;
  justify-content: space-between;
}

.song-btns a.btn {
  color: black;
  box-shadow: none;
  cursor: default;
}

.song-btns a.btn:hover {
  box-shadow: none;
  cursor: default;
}

/****************************************************
  Change default checkbox color from MaterializeCSS
****************************************************/

[type="checkbox"]:checked + span:not(.lever):before {
  border-right: 2px solid #F44336;
  border-bottom: 2px solid #F44336;
}

[type="checkbox"]:indeterminate + span:not(.lever):before {
  border-right: 2px solid #F44336;
}

[type="checkbox"].filled-in:checked + span:not(.lever):after {
  border: 2px solid #F44336;
  background-color: #F44336;
}
